<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Página Principal - BH SALGADOS</title>
    
</head>

<body class="pagina-inicial">
    <header class="topo">
        <div class="container">
            <div class="banner">
                <img src="/salgados.jpg" alt="Logo BH Salgados">
    
                <p>SABOR & TRADIÇÃO</p>
                <h1>BH SALGADOS</h1>
            </div>
        </div>
        <nav class="menu">
            <div class="container">
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="produtos.html">Produtos</a></li>
                    <li><a href="dicas.html">Dicas e Informações</a></li>
                    <li><a href="carrinho.html" class="menu-carrinho">🛒 Meu Carrinho</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="conteudo">
        <div class="container">
            <section class="destaque">
                <h2>Seja bem-vindo</h2>
                <p>
                    Descubra o verdadeiro sabor da tradição! Preparados com ingredientes selecionados e muito carinho, nossos salgados são perfeitos para qualquer momento do seu dia ou para o seu evento.
                </p>
                <a href="contatos.html" class="botao">Ver Mais</a>
            </section>
        </div>
    </main>

</body>

</html>